<ul class="side-nav">
			  <li><strong>Categories</strong></li>
			  <li><strong><%= link_to "Add Picture", new_picture_path, class: 'label secondary' %></strong></li>
			  <% Category.all.each do |category| %>
			  	<li><%= link_to category.name, "/categories/#{category.name}" %></li>	
			  <% end %>
			</ul>