<div id="contact_us" class="reveal-modal small" data-reveal>
 	
 <form>
  <div class="row">
    <div class="large-12 columns">
      <label>Name:
        <input type="text" placeholder="Your name" />
      </label>
    </div>
  </div>

   <div class="row">
    <div class="large-12 columns">
      <label>Email:
        <input type="email" placeholder="Your name" />
      </label>
    </div>
  </div>

   <div class="row">
    <div class="large-12 columns">
      <label>Message:
        <textarea type="text" rows="6" /></textarea>
      </label>
    </div>
  </div>


 <div class="row">
    <div class="large-12 columns">
        <input type="submut" value="Send" class="button success radius small right"/>
    </div>
  </div>
</form>

  <a class="close-reveal-modal">&#215;</a>
  
</div>